<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
        <tokens_lwb_rebbaukataster>AG=token1;BE=token2;NW=token3</tokens_lwb_rebbaukataster>
        <AuthUser>user123</AuthUser>
        <AuthPw>password123</AuthPw>
        <SmtpHost>mailhog.geow.cloud</SmtpHost>
        <SmtpFrom>notifications@geowerkstatt.ch</SmtpFrom>
        <SmtpTo>geodaten@blw.admin.ch</SmtpTo>
        <SmtpCc>support@geowerkstatt.ch</SmtpCc>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>
